input {
	display: flex;
	padding: 8px 12px 9px 14px;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	align-self: stretch;
	height: 54px;

	border-radius: 10px;
	border: 1px solid #f0f0f0;
	background: #fff;

	&:focus {
    outline: #6fd273;
		border: 1px solid #6fd273;
	}
}
